In [0]:
# File paths for CSV files
customers_file_path = "dbfs:/FileStore/shared_uploads/riakundra2003@gmail.com/customers.csv"
order_items_file_path = "dbfs:/FileStore/shared_uploads/riakundra2003@gmail.com/order_items.csv"
orders_file_path = "dbfs:/FileStore/shared_uploads/riakundra2003@gmail.com/orders.csv"
product_file_path = "dbfs:/FileStore/shared_uploads/riakundra2003@gmail.com/product.csv"

# Load CSV files into DataFrames
customers_df = spark.read.csv(customers_file_path, header=True, inferSchema=True)
order_items_df = spark.read.csv(order_items_file_path, header=True, inferSchema=True)
orders_df = spark.read.csv(orders_file_path, header=True, inferSchema=True)
product_df = spark.read.csv(product_file_path, header=True, inferSchema=True)

# Display first few rows to ensure proper load
customers_df.show()
order_items_df.show()
orders_df.show()
product_df.show()

+---+-----------------+----------------+----------+----------+-------------+----------+--------------------+------+
| id|     customername|           state|      city|created_on|date_of_birth|updated_on|               email|gender|
+---+-----------------+----------------+----------+----------+-------------+----------+--------------------+------+
|267|      Mala Pratap|  Madhya Pradesh|    Indore|2018-12-06|   1983-11-04|2018-12-06|Mala Pratap@outlo...|     f|
| 59|          Anudeep|  Madhya Pradesh|    Indore|2018-08-26|   1978-09-09|2018-08-26|                null|  null|
|273|    Shakshi Sagar|        Nagaland|    Kohima|2018-04-17|   1996-11-06|2019-03-27|     Sagar@gmail.com|     f|
|116|     Ekta Chauhan|  Madhya Pradesh|    Indore|2018-06-28|   1987-04-20|2018-06-28|Ekta Chauhan@outl...|     f|
| 92|         Bhutekar|  Madhya Pradesh|    Indore|2019-01-04|   1989-10-08|2019-01-04|                null|  null|
| 48|    Anjali Juneja|           Delhi|     Delhi|2019-02-01|   1987-11-24|2019-02-01|    Anjali@gmail.com|     f|
| 49|    Anjali Juneja|         Haryana|Chandigarh|2018-05-23|   1979-05-28|2018-05-23|    Anjali@gmail.com|     f|
|266|       Mala Bagga|Himachal Pradesh|     Simla|2018-11-03|   1999-05-07|2018-11-03|     Rohan@gmail.com|     f|
|113|          Divyeta|  Madhya Pradesh|    Indore|2018-11-23|   1971-02-19|2018-11-23|                null|  null|
|122|            Ginny|  Madhya Pradesh|    Indore|2019-01-31|   1992-10-07|2019-01-31|                null|  null|
|135|           Hitika|  Madhya Pradesh|    Indore|2019-02-23|   1987-12-16|2019-03-31|                null|  null|
| 50|    Anjali Juneja|     Maharashtra|    Mumbai|2018-07-12|   1997-01-31|2018-07-12|    Anjali@gmail.com|     f|
|157|       Kiran Devi|     Maharashtra|    Mumbai|2018-07-21|   1996-02-19|2018-07-21|     Kiran@gmail.com|     f|
|159|          Kishwar|  Madhya Pradesh|    Indore|2018-07-01|   1970-09-27|2018-07-01|                null|  null|
|167|          Kshitij|  Madhya Pradesh|    Indore|2018-10-10|   1974-11-30|2018-10-10|                null|  null|
|268|        Mala Garg|     Maharashtra|    Mumbai|2018-10-18|   1973-12-17|2018-10-18|     Rohan@gmail.com|     f|
|174|        Maithilee|  Madhya Pradesh|    Indore|2018-06-26|   1976-07-28|2018-06-26|                null|  null|
|188|           Mhatre|  Madhya Pradesh|    Indore|2019-01-11|   1980-01-16|2019-01-11|                null|  null|
|125|     Gunjan Verna|  Madhya Pradesh|    Indore|2018-06-15|   1976-07-17|2018-06-15|Gunjan Verna@outl...|     f|
|331|Smt. Shweta Gupta|  Madhya Pradesh|    Indore|2018-06-30|   1987-04-22|2018-06-30|Smt. Shweta Gupta...|     f|
+---+-----------------+----------------+----------+----------+-------------+----------+--------------------+------+
only showing top 20 rows

+--------+------+------+--------+----------+
|order_id|amount|profit|quantity|product_id|
+--------+------+------+--------+----------+
| B-26010|  18.0|   2.0|       3|         1|
| B-25667|  11.0|  -2.0|       4|         1|
| B-26016| 202.0|   4.0|       4|         1|
| B-26018|  61.0|   8.0|       4|         1|
| B-26021|  21.0| -12.0|       3|         1|
| B-26025|  41.0|  19.0|       5|         1|
| B-26026| 255.0|  76.0|       9|         1|
| B-26030|  92.0|   5.0|       6|         1|
| B-26097|  19.0|   8.0|       2|         1|
| B-25670|  24.0|   1.0|       2|         1|
| B-25670|  14.0|   2.0|       1|         1|
| B-25811| 126.0|  52.0|       4|         1|
| B-25818|  75.0|  28.0|       9|         1|
| B-25810|  29.0|   8.0|       5|         1|
| B-25810|  26.0|  10.0|       4|         1|
| B-25809|  53.0|  24.0|       1|         1|
| B-25809| 154.0|  54.0|       3|         1|
| B-25808| 210.0|  50.0|       4|         1|
| B-25870| 473.0| 113.0|       9|         1|
| B-25871| 118.0|  25.0|       4|         1|
+--------+------+------+--------+----------+
only showing top 20 rows

+-------+----------+-----------+
|     id|order_date|customer_id|
+-------+----------+-----------+
|B-25709|2018-07-01|          1|
|B-26081|2019-03-22|          2|
|B-26018|2019-02-14|          2|
|B-25608|2018-04-08|          2|
|B-25893|2018-12-04|          3|
|B-25830|2018-10-26|          4|
|B-25977|2019-01-27|          6|
|B-25680|2018-06-04|          7|
|B-25782|2018-09-15|          8|
|B-25861|2018-11-15|          5|
|B-25855|2018-11-08|          9|
|B-25856|2018-11-10|         10|
|B-25906|2018-12-11|         11|
|B-25850|2018-11-05|         12|
|B-25889|2018-12-03|         13|
|B-25786|2018-09-19|         14|
|B-25792|2018-09-24|         15|
|B-25898|2018-12-07|         16|
|B-25712|2018-07-07|         17|
|B-25777|2018-09-10|         18|
+-------+----------+-----------+
only showing top 20 rows

+---+-----------+----------------+
| id|   category|         product|
+---+-----------+----------------+
|  1|   Clothing|     Hankerchief|
|  2|   Clothing|           Kurti|
|  3|   Clothing|        Leggings|
|  4|   Clothing|           Saree|
|  5|   Clothing|           Shirt|
|  6|   Clothing|           Skirt|
|  7|   Clothing|           Stole|
|  8|   Clothing|         T-shirt|
|  9|   Clothing|        Trousers|
| 10|Electronics|     Accessories|
| 11|Electronics|Electronic Games|
| 12|Electronics|          Phones|
| 13|Electronics|        Printers|
| 14|  Furniture|       Bookcases|
| 15|  Furniture|          Chairs|
| 16|  Furniture|     Furnishings|
| 17|  Furniture|          Tables|
+---+-----------+----------------+

In [0]:
# Define paths for Bronze Delta tables
bronze_customers_path = "/bronze/customers"
bronze_order_items_path = "/bronze/order_items"
bronze_orders_path = "/bronze/orders"
bronze_product_path = "/bronze/product"

# Save DataFrames to Delta tables in the Bronze layer
customers_df.write.format("delta").mode("overwrite").save(bronze_customers_path)
order_items_df.write.format("delta").mode("overwrite").save(bronze_order_items_path)
orders_df.write.format("delta").mode("overwrite").save(bronze_orders_path)
product_df.write.format("delta").mode("overwrite").save(bronze_product_path)

In [0]:
# Importing functions module from PySpark
from pyspark.sql import functions as F

# Checking for null values in individual columns
customers_null_count = customers_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in customers_df.columns])
order_items_null_count = order_items_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in order_items_df.columns])
orders_null_count = orders_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in orders_df.columns])
product_null_count = product_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in product_df.columns])

# Show the null count for each DataFrame
customers_null_count.show()
order_items_null_count.show()
orders_null_count.show()
product_null_count.show()

# Checking for duplicates
# Checking for duplicates - replace 'order_id' with the correct column name 'id'
customers_dup_count = customers_df.groupBy("id").count().filter("count > 1").count()

# Correcting for `order_items_df` (use 'product_id' or combination as needed)
order_items_dup_count = order_items_df.groupBy("product_id").count().filter("count > 1").count()

# Check for duplicates in the orders DataFrame (use 'id' instead of 'order_id')
orders_dup_count = orders_df.groupBy("id").count().filter("count > 1").count()

# Check for duplicates in the products DataFrame
product_dup_count = product_df.groupBy("id").count().filter("count > 1").count()

# Display the counts of duplicates
print(f"Duplicate customers: {customers_dup_count}")
print(f"Duplicate order items: {order_items_dup_count}")
print(f"Duplicate orders: {orders_dup_count}")
print(f"Duplicate products: {product_dup_count}")

+---+------------+-----+----+----------+-------------+----------+-----+------+
| id|customername|state|city|created_on|date_of_birth|updated_on|email|gender|
+---+------------+-----+----+----------+-------------+----------+-----+------+
|  0|           0|    0|   0|         0|            0|         0|   20|   158|
+---+------------+-----+----+----------+-------------+----------+-----+------+

+--------+------+------+--------+----------+
|order_id|amount|profit|quantity|product_id|
+--------+------+------+--------+----------+
|       0|     0|     0|       0|         0|
+--------+------+------+--------+----------+

+---+----------+-----------+
| id|order_date|customer_id|
+---+----------+-----------+
|  0|         0|          0|
+---+----------+-----------+

+---+--------+-------+
| id|category|product|
+---+--------+-------+
|  0|       0|      0|
+---+--------+-------+

Duplicate customers: 0
Duplicate order items: 17
Duplicate orders: 0
Duplicate products: 0

In [0]:
# Step 1: Data Cleaning

# Example cleaning: Remove rows with null values in critical columns
customers_cleaned = customers_df.na.drop(subset=["id", "customername", "email"])
orders_cleaned = orders_df.na.drop(subset=["id", "customer_id"])
order_items_cleaned = order_items_df.na.drop(subset=["order_id", "product_id", "quantity"])
product_cleaned = product_df.na.drop(subset=["id", "product"])

# Step 2: Join Tables

# Join orders with customers to get customer details for each order
orders_with_customers = orders_cleaned.join(
    customers_cleaned,
    orders_cleaned.customer_id == customers_cleaned.id,
    "left"
).select(orders_cleaned.id.alias("order_id"), "customer_id", "order_date", "customername", "email", "state", "city")


# Join the result with order items to get item details for each order
orders_with_items = orders_with_customers.join(
    order_items_cleaned,
    orders_with_customers.order_id == order_items_cleaned.order_id,
    "left"
).select(orders_with_customers.order_id, "customer_id", "order_date", "customername", "email", 
           order_items_cleaned.product_id, "quantity", "profit", "amount","state", "city")


# Join with products to get product details
final_silver_df = orders_with_items.join(
    product_cleaned,
    orders_with_items.product_id == product_cleaned.id,
    "left"
).select(orders_with_items.order_id, orders_with_items.customer_id, "order_date", "customername", "email", 
           product_cleaned.product.alias("product_name"), "category", 
           "quantity", "profit", "amount", "state", "city")


silver_table_path = "/silver/transformed_orders13"

# Write the DataFrame to Delta format
final_silver_df.write.format("delta").mode("overwrite").save(silver_table_path)

In [0]:
final_silver_df.show()

+--------+-----------+----------+-------------+--------------------+------------+-----------+--------+-------+------+--------------+---------+
|order_id|customer_id|order_date| customername|               email|product_name|   category|quantity| profit|amount|         state|     city|
+--------+-----------+----------+-------------+--------------------+------------+-----------+--------+-------+------+--------------+---------+
| B-25709|          1|2018-07-01|Aakanksha D/O|Aakanksha D/O@out...|      Chairs|  Furniture|       1|   -6.0|  41.0|Madhya Pradesh|   Indore|
| B-25709|          1|2018-07-01|Aakanksha D/O|Aakanksha D/O@out...|       Saree|   Clothing|       7|  -12.0|  33.0|Madhya Pradesh|   Indore|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com|   Bookcases|  Furniture|       5| -338.0| 359.0|    Tamil Nadu|  Chennai|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com| Accessories|Electronics|       3|    0.0| 169.0|    Tamil Nadu|  Chennai|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com|       Stole|   Clothing|       4|   33.0|  79.0|    Tamil Nadu|  Chennai|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com|       Saree|   Clothing|       5|   50.0| 637.0|    Tamil Nadu|  Chennai|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com|       Saree|   Clothing|       3|  -84.0|  93.0|    Tamil Nadu|  Chennai|
| B-26081|          2|2019-03-22|      Aarushi|   Aarushi@gmail.com| Hankerchief|   Clothing|       3|   11.0|  24.0|    Tamil Nadu|  Chennai|
| B-26018|          2|2019-02-14|      Aarushi|   Aarushi@gmail.com| Furnishings|  Furniture|       3|  107.0| 326.0|    Tamil Nadu|  Chennai|
| B-26018|          2|2019-02-14|      Aarushi|   Aarushi@gmail.com| Hankerchief|   Clothing|       4|    8.0|  61.0|    Tamil Nadu|  Chennai|
| B-25608|          2|2018-04-08|      Aarushi|   Aarushi@gmail.com|      Tables|  Furniture|       5|-1864.0|1364.0|    Tamil Nadu|  Chennai|
| B-25608|          2|2018-04-08|      Aarushi|   Aarushi@gmail.com|      Chairs|  Furniture|       3|    0.0| 476.0|    Tamil Nadu|  Chennai|
| B-25608|          2|2018-04-08|      Aarushi|   Aarushi@gmail.com|    Printers|Electronics|       6|  385.0| 856.0|    Tamil Nadu|  Chennai|
| B-25608|          2|2018-04-08|      Aarushi|   Aarushi@gmail.com| Hankerchief|   Clothing|       5|   23.0| 257.0|    Tamil Nadu|  Chennai|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com|    Printers|Electronics|       3|   59.0| 372.0| Uttar Pradesh|Allahabad|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com| Accessories|Electronics|       6|  103.0| 688.0| Uttar Pradesh|Allahabad|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com|       Stole|   Clothing|       3|   12.0|  83.0| Uttar Pradesh|Allahabad|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com|       Stole|   Clothing|       7|  114.0| 355.0| Uttar Pradesh|Allahabad|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com|       Shirt|   Clothing|       7|   62.0| 223.0| Uttar Pradesh|Allahabad|
| B-25893|          3|2018-12-04|       Aashna|    Aashna@gmail.com|       Saree|   Clothing|       3|   15.0| 149.0| Uttar Pradesh|Allahabad|
+--------+-----------+----------+-------------+--------------------+------------+-----------+--------+-------+------+--------------+---------+
only showing top 20 rows

In [0]:
# Step 1: Read Data from Silver Table
silver_table_path = "/silver/transformed_orders13"
silver_df = spark.read.format("delta").load(silver_table_path)
# Display the schema of the DataFrame
silver_df.printSchema()

#create a database for gold layer
spark.sql("CREATE DATABASE IF NOT EXISTS gold_db3")

# Step 2: Perform  required Aggregations and save in the presentation layer

# 1 Total profit by product category
total_profit_by_category = silver_df.groupBy("category").agg(
    F.sum("profit").alias("total_profit")
).orderBy("category")

total_profit_by_category.write.format("delta").mode("overwrite").saveAsTable("gold_db3.total_profit_by_category")

# 2 Number of orders placed by customers in each city instead of state
orders_by_state = final_silver_df.groupBy("state").agg(
    F.countDistinct("order_id").alias("num_orders")
)
orders_by_state = orders_by_state.na.drop(subset=["state"])

orders_by_state.write.format("delta").mode("overwrite").saveAsTable("gold_db3.orders_by_state")

# 3 Total amount spent by each customer
total_spent_by_customer = silver_df.groupBy("customer_id").agg(
    F.sum("amount").alias("total_spent")
).orderBy("customer_id")

total_spent_by_customer.write.format("delta").mode("overwrite").saveAsTable("gold_db3.total_spent_by_customer")

#df = spark.read.format("delta").load("/gold/total_spent_by_customer")
#print(df.dtypes)
#print(total_spent_by_customer.dtypes)

# 4 Average profit per order for each city
average_profit_per_order_by_city = final_silver_df.groupBy("city").agg(
    (F.sum("profit") / F.countDistinct("order_id")).alias("average_profit_per_order")
)

average_profit_per_order_by_city = average_profit_per_order_by_city.na.drop(subset=["city"])

average_profit_per_order_by_city.write.format("delta").mode("overwrite").saveAsTable("gold_db3.average_profit_per_order_by_city")

# 5 Top 5 customers who spent the most
top_customers = silver_df.groupBy("customer_id").agg(
    F.sum("amount").alias("total_spent")
).orderBy(F.desc("total_spent")).limit(5)

top_customers.write.format("delta").mode("overwrite").saveAsTable("gold_db3.top_customers")

# 6 Total revenue generated by each product
total_revenue_by_product = silver_df.groupBy("product_name").agg(
    F.sum("amount").alias("total_revenue")
).orderBy("product_name")

total_revenue_by_product.write.format("delta").mode("overwrite").saveAsTable("gold_db3.total_revenue_by_product")

# 7 Number of orders placed in each product category
orders_by_product_category = silver_df.groupBy("category").agg(
    F.countDistinct("order_id").alias("order_count")
).orderBy("category")

orders_by_product_category.write.format("delta").mode("overwrite").saveAsTable("gold_db3.orders_by_product_category")

# 8 Average profit per order for each product category
average_profit_per_order_by_category = silver_df.groupBy("category").agg(
    F.avg("profit").alias("average_profit_per_order")
).orderBy("category")

average_profit_per_order_by_category.write.format("delta").mode("overwrite").saveAsTable("gold_db3.average_profit_per_order_by_category")

# 9 Total amount spent in each city
total_amount_by_city = final_silver_df.groupBy("city").agg(
    F.sum("amount").alias("total_amount_spent")
)

total_amount_by_city = total_amount_by_city.na.drop(subset=["city"])

total_amount_by_city.write.format("delta").mode("overwrite").saveAsTable("gold_db3.total_amount_by_city")

# 10 Number of orders placed for each product
orders_by_product = silver_df.groupBy("product_name").agg(
    F.countDistinct("order_id").alias("order_count")
).orderBy("product_name")

orders_by_product.write.format("delta").mode("overwrite").saveAsTable("gold_db3.orders_by_product")

root
 |-- order_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- customername: string (nullable = true)
 |-- email: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- profit: double (nullable = true)
 |-- amount: double (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)

In [0]:
top_customers.show()
top_customers.dtypes

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|        397|     9177.0|
|        360|     6611.0|
|        343|     6339.0|
|        129|     6026.0|
|        239|     5809.0|
+-----------+-----------+

Out[13]: [('customer_id', 'int'), ('total_spent', 'double')]

In [0]:
total_profit_by_category.show()

+-----------+------------+
|   category|total_profit|
+-----------+------------+
|   Clothing|     11163.0|
|Electronics|     10494.0|
|  Furniture|      2298.0|
+-----------+------------+